# Python
venv/
__pycache__/
*.pyc
.env

# Models
models/

# Dataset exports (optional)
*.jsonl

# Node.js
node_modules/

# Build folders
dist/
build/

# VS Code
.vscode/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db